body {
  margin: 0px;
  background-color: #001822;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  color: white;
}

* {
  box-sizing: border-box;
}
ul {
  padding: 0px;
  margin: 0px;

}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.wrapper {
  background: url(./images/bg/hero.jpg) center top no-repeat, url(./images/bg/bottom-pic.jpg) center bottom 127px  no-repeat;
}

.container {
  width: 1141px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 124px;
  margin-bottom: 71px;
}

.logo {
  position: absolute;
  display: block;
  top: 30px;
  left: 0px;
}

.logo__pic {
  width: 87px;
  height: 35px;
}

.menu {
  position: absolute;
  top: 41px;
  left: 165px;

}
.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: white;
}
.menu__link:hover {
  color: #DA0100;
}

.menu__item--active .menu__link {
  color: #DA0100;
}

.contacts {
  position: absolute;
  top: 27px;
  right: 0px;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  color: white;
  font-style: normal;
}

.contacts__text {
  font-style: normal;
  font-size: 13px;
  color: #98A4A8;
  text-decoration: underline;
  margin-top: -6px;
}


.page-header {
  width: 512px;
  height: 335px;
  margin-right: 0px;
  margin-bottom: 243px;
}

.page-header__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.41;
  margin-bottom: 23px;
  margin-left: 0;
}

.page-header__text {
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.button {
  display: inline-block;
  border: 1px solid #F5170E;
  border-radius: 35px;
  background: white;
  padding: 18px 40px;
  color:  #F5170E;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin-top: 24px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.button:hover {
  background: #F5170E;
  color: white;
}
.hot-tours {
  margin-bottom: 127px;
}

.hot-tours__title {
  display: inline-block;
  width: 273px;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 48px;
  margin-left: 3px;
  margin-right: 8px
}

.hot-tours__image {
  display: inline-block;
  margin-top: 14px;
  margin-right: 0px;
}

.tours-list {
  margin-left: -2px;
}

.tours-list__item {
  width: 362px;
  min-height: 450px;
  background: white;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
  overflow: hidden;
  color: black;

}

.tours-list__item:last-child {
  margin-right: 0px;
}

.tour-item__header {
  height: 145px;
  overflow: hidden;
  margin-bottom: 33px;
}

.tour-item__image {
  width: 362px;
  margin-top: -28px;
}

.tour-item-indo__img {
  width: 365px;
  margin-top: -35px;
}

.tour-item__description {
  margin-bottom: 25px;
  margin-left: 22px;
  margin-right: 16px;
}

.tour-item__title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 0px;
  margin-bottom: 20px;
}

.tour-item__options {
  position: relative;
  width: 273px;
  height: 26px;
  margin-left: 6px;
  margin-top: 0px;
}
.option-calendar__img {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0px;
  left: 2px;
}
.option-calendar__text {
  position: absolute;
  top: 3px;
  left: 38px;
  font-size: 16px;
}
.option-meal__img {
  position: absolute;
  width: 36px;
  height: 26px;
  top: 0px;
  left: 156px;
}
.option-meal__text {
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: 16px;
}

 
.tour-item_text {
  line-height: 1.5;
  margin-top: 24px;
  margin-left: 2px;
  margin-bottom: 0px;
}

.button-watch {
  padding: 17px 29px;;
  margin-left: 3px;
}

.news {
  margin-bottom: 144px;
}

.news__title {
  width: 325px;
  height: 50px;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-left: 2px;
}
.news-list {
  margin-bottom: 53px;
}

.news-item {
  width: 557px;
  height: 394px;
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.news-item:last-child {
  margin-right: 0px;
}

.news-item__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  margin-left: 0px;
}


.news-item__content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 25px 30px;
  min-height: 164px;
}

.news-item__date {
  display: block;
  margin-bottom: 15px;
}

.news-item__title {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
}
.news-item__text {
  font-size: 16px;
  line-height: 24px;
}
.paginator  {
  text-align: center;
}

.display {
  margin-right: 23px;
}

.display, .paginator__list {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}


.paginator__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0px;
  
}

.paginator__list {
  letter-spacing: -3px;
}

.paginator__link {
  display:block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  color: white;
  line-height: 34px;
  
}

.paginator__item--active .paginator__link {
  background-color: white;
  color: #F5170E;
}
.paginator__link:hover {
  background-color: white;
  color: #F5170E;
}

.about {
  margin-bottom: 54px;
}
.about:before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  background: url(./images/decor/gates.jpg) center center / cover no-repeat;
  border-radius: 5px;
}

.about-description {
  width: 785px;
  padding: 70px 202px 66px 81px;
  margin-top: -408px;
  margin-left: 355px;
  overflow: hidden;
  background: url(./images/decor/mountains.jpg);
  background-size: cover;
  color: #060606;
  border-radius: 5px;
}

.about-description__title {
  font-size: 36px;
  font-weight: bold;
  margin-left: 0px;
  margin-bottom: 36px;
}

.about-description__text {
  font-size: 16px;
  line-height: 1.69;
  margin-left: 0px;
  margin-bottom: 44px;
}

.footer-container-content {
  border-top: 2px solid #353538;
  /* opacity: 0.1; */
}

.footer {
  position: relative;
  height: 93px;
  margin-bottom: 0px;
  margin-top: 19px;
}

.networks {
  position: absolute;
  top: 32px;
  right: 257px;
}

.networks__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0px;
}

.networks__item:last-child {
  margin-right: 0;
}

.networks__link {
  display: block;
  width: 36px;
  height: 36px;
  text-decoration: none;
  margin-right: 7px;
}

.networks__item--telegram .networks__link {
  background-image: url(./images/icons/socials/t.png);
}

.networks__item--telegram .networks__link:hover {
  background-image: url(./images/icons/socials/t2.png);
}

.networks__item--vk .networks__link {
  background-image: url(./images/icons/socials/vk.png);
}

.networks__item--vk .networks__link:hover {
  background-image: url(./images/icons/socials/vk2.png);
}

.networks__item--facebook .networks__link {
  background-image: url(./images/icons/socials/f.png);
}

.networks__item--facebook .networks__link:hover {
  background-image: url(./images/icons/socials/f2.png);
}

.networks__item--instagram .networks__link {
  background-image: url(./images/icons/socials/in.png);
}

.networks__item--instagram .networks__link:hover {
  background-image: url(./images/icons/socials/in2.png);
}

.contacts__text-footer {
  font-size: 11px;
  font-style: normal;
  color: #9A9A9A;
}

