.benefits-section {
  position: relative;

  &:before {
    content: url('./images/decor/Vector\ 2.png');
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 0px;
    left: 213px;
  }
}
