html {
  height: 100%;
}
body {
  margin: 0px auto;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  height: 100%;
  color: #F2F2F2;
}

* {
  box-sizing: border-box;
}
ul {
  padding: 0px;
  margin: 0px;
  
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}


img {
  display: block;
  max-width: 100%;
}

.wrapper {
  background: url(../../images/bg/hero.jpg) center top no-repeat, url(../../images/bg/bottom-pic.jpg) center bottom 127px  no-repeat #001822;
  overflow: hidden;
  min-width: 1920px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: 0 auto;
  z-index: 0;
}

.wrapper::after {
  z-index: 5;
}

.wrapper-offers {
  background-color: white;
  min-height: 100%;
  min-width: 1920px;
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  width: 1141px;
  margin: 0 auto;
}


.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 264px;
  min-height: 511px;
}

