.button {
  border: 1px solid #F5170E;
  border-radius: 35px;
  background: white;
  padding: 18px 40px;
  color:  #F5170E;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  align-self: flex-start;
}

.container-hello .button {
  align-self: center;
  padding: 18px 58px;
  background-color: #F5170E;
  color: white;
}

.container-hello .button:hover {
  background-color: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
 
}

.button:hover {
  background: #F5170E;
  color: white;
}


.button-watch {
  padding: 17px 29px;
  margin-bottom: 26px;
  margin-top: auto;
}
