

.hello-content {
  width: 591px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.logo-hello {
  margin: 0;
  width: 279px;
  height: 119px;
}
.container-hello__text {
  font-size: 18px;
  color: #FFFFFF;
}