.networks {
  display: flex;
  margin-right: 74px;
  flex-wrap: wrap;
}

.networks__item {
  align-self: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.networks__item:last-child {
  margin-right: 0;
}

.networks__link {
  width: 36px;
  height: 36px;
  display: block;
  position: relative;
}

.networks__item .networks__link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../images/icons/socials/css_sprites.png);
}


.networks__item--telegram .networks__link:after {
  background-position: -122px -10px;
}

.networks__item--telegram .networks__link:hover:after {
  background-position: -122px -66px;
  animation: animation 1s;
}

.networks__item--vk .networks__link:after {
  background-position: -10px -122px;
}

.networks__item--vk .networks__link:hover:after {
  background-position: -66px -122px;
  animation: animation 1s;
}

.networks__item--facebook .networks__link:after {
  background-position: -10px -10px;
}

.networks__item--facebook .networks__link:hover:after {
  background-position: -66px -10px;
  animation: animation 1s;
}

.networks__item--instagram .networks__link:after {
  background-position: -10px -66px;
}

.networks__item--instagram .networks__link:hover:after {
  background-position: -66px -66px;
  animation: animation 1s;
}

@keyframes animation {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}